WinFormsClient/Web References/localhost/DBWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="localhost" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="localhost">
      <s:element name="GetEmployeeList">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeListResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMessageList">
        <s:complexType />
      </s:element>
      <s:element name="GetMessageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageListResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MessageId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecipientId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeList" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageList" />
  </wsdl:message>
  <wsdl:message name="GetMessageListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageListResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMessage" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="DBWebServiceSoap">
    <wsdl:operation name="GetEmployeeList">
      <wsdl:input message="tns:GetEmployeeListSoapIn" />
      <wsdl:output message="tns:GetEmployeeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageList">
      <wsdl:input message="tns:GetMessageListSoapIn" />
      <wsdl:output message="tns:GetMessageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <wsdl:input message="tns:InsertMessageSoapIn" />
      <wsdl:output message="tns:InsertMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBWebServiceSoap" type="tns:DBWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeList">
      <soap:operation soapAction="localhost/GetEmployeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageList">
      <soap:operation soapAction="localhost/GetMessageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap:operation soapAction="localhost/InsertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBWebServiceSoap12" type="tns:DBWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeList">
      <soap12:operation soapAction="localhost/GetEmployeeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageList">
      <soap12:operation soapAction="localhost/GetMessageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap12:operation soapAction="localhost/InsertMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBWebService">
    <wsdl:port name="DBWebServiceSoap" binding="tns:DBWebServiceSoap">
      <soap:address location="http://localhost:21676/DBWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBWebServiceSoap12" binding="tns:DBWebServiceSoap12">
      <soap12:address location="http://localhost:21676/DBWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>